[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
pyotp = "*"
twilio = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "==2.8.6"
django-on-heroku = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
